.log-modal {
  .ant-modal-content {
    border-radius: 4px;
    font-size: 14px;
    font-family: PingFang-SC;
    .ant-modal-close {
      top: 20x;
      height: 24px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    .ant-modal-header {
      height: 56px;
      border-bottom-color: #E3E3E3;
      .ant-modal-title {
        color: #0A1824;
        font-size: 14px;
      }
    }
    .ant-modal-footer {
      height: 56px;
      border-top-color: #E3E3E3;
      .close-button {
        width: 60px;
        height: 32px;
        background: #6AA0F2;
        color: #fff;
        border-radius: 4px;
      }
    }
  }
}